/* 
    Document   : main
    Created on : Aug 11, 2010, 1:21:27 PM
    Author     : eugene
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

a {
	border: 0;
	text-decoration: none;
	color: #f89616;
}

.clear {
	clear: both;
}

a:hover, a:active {
	text-decoration: underline;
}

body {
	background-color: #E5E5E6;
	color: #999999;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	background-image: url(images/body-back.png);
	background-position: top left;
	background-repeat: repeat-x;
}

#centered_container {
	margin: 50px auto 0px;
	background-image: url(images/centered.png);
	background-position: left top;
	background-repeat: repeat-y;
	width: 843px;
}

#header {
	background-image: url(images/header.png);
	width: 843px;
	background-position: top left;
	background-repeat: no-repeat;
	position: relative;
	top: -20px;
	height: 282px;
}

#header .menus {
	top: 115px;
	position: relative;
}

#header .menus a {
	color: #666666;
	font-size: 17px;
	display: block;
	padding-top: 9px;
	height: 35px;
	float: left;
	background-position: top left;
	background-repeat: no-repeat;
	text-align: center;
}

#header .menus a:hover,
#header .menus a:active
{
	color: white;
	text-decoration: none;
}

#header .menus a.home {
	margin-left: 37px;
	width: 126px;
}

#header .menus a.home:hover,
#header .menus a.home:active
{
	background-image: url(images/menus-first.png);	
}

#header .menus a.register {
	margin-left: 0px;
	width: 138px;
}

#header .menus a.register:hover,
#header .menus a.register:active
{
	background-image: url(images/menus-second.png);
}

#header .menus a.team {
	margin-left: 0px;
	width: 174px;	
}

#header .menus a.team:hover,
#header .menus a.team:active
{
	background-image: url(images/menus-third.png);
}

#header .menus a.contacts {
	margin-left: 0px;
	width: 185px;	
}

#header .menus a.contacts:hover,
#header .menus a.contacts:active
{
	background-image: url(images/menus-forth.png);
}

a#logo {
	width: 264px;
	height: 113px;
	display: block;
	position: relative;
	top: 35px;
	left: 30px;
}

#footer {
	background-image: url(images/footer2.png);
	background-color: #E5E5E6;
	height: 240px;
	background-repeat: no-repeat;
	background-position: 1px -70px;
	width: 843px;
}

#footer .menus {
	position: relative;
	top: 75px;
}

#footer .menus a {
	display: block;
	float: left;
	text-align: center;
}

#footer .menus a.home {
	margin-left: 180px;
	width: 100px;
}

#footer .menus a.register {
	width: 120px;
}

#footer .menus a.team {
	width: 140px;
}

#footer .menus a.contacts {
	width: 140px;
}

#content {
	padding: 0px 30px;
}

#copyright {
	text-align: center;
	position: relative;
	top: 110px;
}

/* team */
.team1 {
	width: 656px;
	height: 204px;
	background: url("images/team1.png") no-repeat;
}
.team1 img, .team2 img {
	position: relative;
	left: 25px;
	top: 25px;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.team2 {
	width: 656px;
	height: 203px;
	background: url("images/team2.png") no-repeat;
}
.team1, .team2 {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}
.team_text {
	position: relative;
	left: 50px;
	top: 25px;
	width: 570px;
	
}
*:first-child+html .team_text {
	width: 420px;
}

.team_text h5 {
	display: block;
	color: #f89616;
	font-weight: bold;
	margin-left: 155px;
	text-align: center;
	width: 420px;
}

*:first-child+html .team_text h5,
*:first-child+html .team_text h6 {
	margin-left: 0;
	margin-top: 0;
}

.team_text h6 {
	margin-left: 155px;
	text-align: center;
	margin-top: 15px;
	width: 420px;
}

.team_text p {
	margin: 5px 0 0;
	line-height: 115%;
}