/* 
    Document   : main
    Created on : Aug 11, 2010, 1:21:27 PM
    Author     : eugene
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

a {
	border: 0;
	text-decoration: none;
	color: #f89616;
}

.clear {
	clear: both;
}

a:hover, a:active {
	text-decoration: underline;
}


html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body {
	background-color: #E5E5E6;
	color: #666666;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	background-image: url(images/body.png);
	background-position: top left;
	background-repeat: repeat-x;
}

#centered_container {
	margin: 0px auto 0px;
	background-image: url(images/centered.png);
	background-position: -1px top;
	background-repeat: repeat-y;
	width: 1005px;
	position: relative;
	min-height: 100%;
}

#header {
	background-image: url(images/header4.png);
	width: 1005px;
	background-position: 1px 0px ;
	background-repeat: no-repeat;
	position: relative;
	top: 0px;
	height: 202px;
}

#header h1 {
	background-image: url(images/orange-transparent.png);
	background-repeat: repeat;
	margin: 0px 18px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	padding: 0px 5px;
	color: #333333;
	line-height: 20px;
	float: right;
}

#top_menus {
	padding-top: 48px;
	margin-left: 381px;
	height: 42px;
}

#top_menus a {
	color: #555555;
	font-size: 18px;
	display: block;
	line-height: 38px;
	height: 42px;
	float: left;
	padding: 0 50px;
	border-right: 1px solid #eeeeee;
}

#top_menus a:hover,
#top_menus a:active
{
	color: white;
	text-decoration: none;
	background-image: url(images/orange-transparent.png);
	background-repeat: repeat;
}

a#logo {
	width: 264px;
	height: 113px;
	display: block;
	float: left;
	margin-top: 15px;
	margin-left: 35px;
}

#footer {
	background-color: #E5E5E6;
	height: 100px;
	margin: 0 auto;
	position: relative;
	margin-top: -20px;
	width: 986px;
}

#footer .footer_container {
	background-image: url(images/footer3.png);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px 9px 0 10px;
}

#footer .menus {
	position: relative;
	top: 7px;
}

#footer .menus a {
	display: block;
	float: left;
	text-align: center;
}

#footer .menus a.home {
	margin-left: 180px;
	width: 100px;
}

#footer .menus a.register {
	width: 120px;
}

#footer .menus a.team {
	width: 140px;
}

#footer .menus a.contacts {
	width: 140px;
}

#content {
	padding: 0px 30px;
	/*background-image: url("images/content.png");*/
	background-position: 1px bottom;
	background-repeat: no-repeat;
	padding-bottom: 40px;
}

#content .main {
	width: 728px;
	padding-right: 10px;
	text-align: justify;
}

#copyright {
	text-align: center;
	position: relative;
	top: 37px;
}

#content .panel {
	float: right;
	width: 205px;
	padding-top: 10px;
}

#content .panel .block {
	border: 1px solid #999999;
	padding: 5px 0 0;
	margin-bottom: 10px;
	text-align: center;
}

#content .panel .orange {
	background-color: #feb600;
}

form.feedback {
	background-image: url(images/feed_back.png);
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	width: 490px;
	padding: 40px 20px;
	height: 240px;
}

form.feedback label {
	width: 100px;
	display: block;
	text-align: right;
	padding-right: 10px;
}

form.feedback textarea {
	width: 350px;
	height: 130px;
}

form.register {
	background-image: url(images/register_index_back.png);
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	width: 520px;
	height: 240px;
	padding: 40px 10px;
}

form.register label {
	width: 150px;
	display: block;
	text-align: right;
	padding-right: 10px;
}

form.register select {
	border: 1px solid #B3B3B3;
	background-color: white;
	width: 340px;
}

table.roles {
	background-image: url(images/role_back.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 530px;
	padding: 20px;
	height: 310px;
}

table .label {
	width: 30%;
}

table .field {
	width: 40%;
}

div.message {
	margin: 5px 5px 20px;
	padding: 20px;
	text-align: center;
	border: 1px solid #FECE19;
	background-color: #FFEFB2;
	color: #666666;
}

div.error {
	margin: 5px 5px 20px;
	padding: 20px;
	text-align: center;
	border: 1px solid #f89414;
	background-color: #f8e7d2;
	color: red;
}

